* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #999;
}

.mainHead {
    width: 100%;
    height: 87vh;
    position: relative;
    background: url('../img/header.jpg') no-repeat center center/cover;
}

.topHead {
    position: relative;
    height: 90px;
}

.tabs {
    background: rgb(1, 2, 56);
    padding: 1rem;
    padding-bottom: 0%;
    border-bottom: 3px;
}

.tabs .cont-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .cont-menu>div {
    padding: 1.5rem 0;
}

.tabs .cont-menu>div:hover {
    color: #fff;
    cursor: pointer;
}